catcher.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
catcher.xcodeproj/project.xcworkspace/xcuserdata/az.xcuserdatad/xcdebugger/Expressions.xcexplist
catcher.xcodeproj/xcshareddata/xcschemes/Debug.xcscheme
catcher.xcodeproj/xcshareddata/xcschemes/Release.xcscheme
catcher.xcodeproj/xcuserdata/az.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
catcher.xcodeproj/xcuserdata/az.xcuserdatad/xcschemes/xcschememanagement.plist
